# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
dist-ssr/
.output/
.vinxi/
.tanstack/
.nitro/

# Editor
.vscode/
.idea/
.DS_Store

# We are intentionally NOT ignoring .pkl files because we want to track models
# *.pkl
